server {
    listen 80;
    server_name securelogin.com;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /home/ken/securelogin;  # Update this path to the correct project directory
    }

    location / {
        include         uwsgi_params;
        uwsgi_pass      unix:/home/ken/securelogin/securelogin.sock;  # Update this path to the correct socket file
    }
}