# /etc/nginx/sites-available/securelogin
server {
    listen 80;
    server_name securelogin.com;

    location = /favicon.ico { access_log off; log_not_found off; }
    
    location /static/ {
        alias /home/ken/securelogin/securelogin/static/;
    }

    location /media/ {
        alias /home/ken/securelogin/securelogin/media/;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/home/ken/securelogin/securelogin/securelogin.sock;
    }
}